body{
	margin:0px;
	padding:0px;
	background:url(../img/personal/bg.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.nav{
	position:fixed;
	width:100%;
}
.content{
	padding-top:80px;
	text-align:center;
}

p{
	line-height:34px;
	font-size: 18px;
	color:white;
}
#name{
    font-weight:bold;
}
